<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Task {{ task['id'] }}</title>
</head>
<body>
    <img src="{{ url_for("static", filename=task['cur_id']+".png") }}" alt="Currency symbol image">
    <p> Prices of {{ task['cur_id'] }} from {{ task['date_from'] }} to {{ task['date_to'] }}</p>

    <table border="1">
        {% for date, val in data %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ val }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>